vendor(prop,args)
    -webkit-{prop} agrs
    -moz-{prop} args
    {prop} args

html
body
    width 100%
    height 100%
    background-color #bfeaf7

body
    display flex
    justify-content center
    align-items center
    margin 8px

.webpage
    position relative
    margin auto
    width 600px
    display block
    margin-top 100px
    height 420px
    background-color #ebf3fe
    z-index 1
    .top-button-left
    .top-button-right
    .top-button-middle
        position absolute
        top 2%
        border-radius 50%
        width 3.5%
        height 5%
        background-color #818d98
     .top-button-left
        left 3%
    .top-button-middle
        left 7%
    .top-button-right
        left 11%
    .bar
        position absolute
        width 100%
        background-color #26b56f
        top 10%
        height 3%

    .box-top-left
    .box-top-right
    .box-bottom-right
        position absolute
        width 40%
        height 35%
    .box-top-left   
        top 18%
        left 8%
        background-color #7c90cf
    .box-top-right
        top 18%
        right 8%
        background-color #f9cb49
     .box-bottom-left
        bottom 8%
        left 8%
        background-color #f1536a
     .box-bottom-right
        bottom 8%
        right 8%
        background-color #31abf9
    .shirt
        position absolute
        bottom -20%
        left -15%
        width 55%
        height 40%
        background #113234
        vendor('border-top-left-radius',100px)
        vendor('border-top-right-radius',100px)
        .rod
            position absolute
            top -20%
            width 45%
            height 25%
            left 12.5%
            background #b3b3b3
            .rod-end-left
            .rod-end-right
                background #b3b3b3
                height 120%
                width 20%
            .rod-end-left
                position absolute
                left -10%
                top -10%
            .rod-end-right
                position absolute
                height 120%
                top -90%
                left 20%
                width 60%
                background #26b56f;
                




.goods-list
    margin 20px
    .good-item a
        display block
        img.album
            width 200px
        div.content
            margin-left 220px
            header
                font-weight bold
            div.row
                color red